<p class="qbox">Редактирование вопросника : <%= @question_box.name %></p>
<div class="col-md-6">
  <%= form_tag question_box_path, method: :patch, class: "form-group" do %>
      <%= label_tag :name, 'Название', class: 'label label-default' %>
      <%= text_field_tag :name, nil, class: 'form-control' %>
      <br />
      <div class="form-inline">
          <%= label_tag :kind, 'Будут варианты ответов ?', class: 'label label-default' %>
          <%= check_box_tag :kind, class: 'checkbox' %>
      </div>
      <br />
      <%= submit_tag 'Добавить вопрос', class: "btn btn-success btn-sm" %>
      <%= link_to 'Распечатать', print_path(@question_box.id), class: 'btn btn-primary btn-sm' %>
  <% end %>

</div>

<%= render 'list_all_questions' %>
