<h2>Ответ на вопрос :</h2>
<div class="col-md-6">
  <%= form_tag answers_path, class: "form-group" do %>
      <%= @question.name %>
      <%= hidden_field_tag :question_id, @question.id %>
      <br />

      <%= label_tag :name, 'Название', class: 'label label-default' %>
      <%= text_field_tag :name, nil, placeholder: 'Введите ответ', class: 'form-control' %>

      <%= submit_tag 'Ответить', class: "btn btn-success btn-sm" %>
  <% end %>

</div>